
$background-main: #202020;
$container-background: #473c3c;
$container-small: #44271d;
$text-standard: #a88135;
$btn-standard: #7c5214;
$btn-accept-: #46f04f;
$btn-decline: #aa4444;
$text-input-letter: #505050;