<p>
    About: this is a wordle clone made during fullstack course by Pontus Lundholm
    play by selecting how many letters there should be in the word<br>
    and if there should be repeating letters<br>
    Green means that the letter is in the correct position.<br>
    Yellow means that the letter is in the word butt not in the roght position.<br>
    Red is if the letter won't appear in the word.<br>
    visit the highscore list through in the <a href="/highscore" name="link here"> link here<a/>
</p>